*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:roboto;
}
.hero{
    height: 100vh;
    width:100%;
    background: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
}

.heading{
    color:rgb(2, 17, 100);
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}

nav ul{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style:none;
    display: inline-block;
    padding:0px 25px
}
nav ul li a{
    color:rgb(1, 2, 7);
    text-decoration:none;
    font-size: 15px;
    font-weight:bold;
}

nav ul li a:hover{
    color:rgb(130, 208, 228);
    transition:0.3s;

}

header{
    width: 92%;
    margin:0 auto;
    padding: 13px 0;
    position:absolute;
    top: 40px;
    left: 30x;
    right:30px;
    border-radius: 15px;
    z-index: 2;
    background: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%)
}

.photo{
    position: absolute;
    top:0;
    width:55%;
    height:100%;
    overflow: hidden;

}

.content{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%)
}
.content h1{
    font-size: 55px;
    color:rgb(25, 25, 26);
    line-height: 100px;
    margin-bottom: 25px;
}
.content h3{
    color:rgb(2, 112, 52);
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom:20px;
}
content p{
    font-size:14px;

}
.main-user-info{
    display: flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background:white;
    background-size:cover;
}

section{
    width:100%mx-width:650px;
}